html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto', sans-serif;
}

.pt-2 {
  transition: padding 0.3s linear;
}

.pt-1 {
  transition: padding 0.3s linear;
}

.bg-transparent {
  transition: background-color 0.3s linear;
}

.bg-light {
  transition: background-color 0.3s linear;
}

.navbar-toggler {
  border-style: none;
}

.logo {
  fill-opacity: 0;
  stroke-dasharray: 360.8721923828125;
  stroke-dashoffset: 360.8721923828125;
  -webkit-animation: draw 2.5s ease-in-out 1s forwards;
  -moz-animation: draw 2.5s ease-in-out 1s forwards;
  -ms-animation: draw 2.5s ease-in-out 1s forwards;
  -o-animation: draw 2.5s ease-in-out 1s forwards;
  animation: draw 2.5s ease-in-out 1s forwards;
}

.navbar-brand svg {
  margin-top: -12px; margin-bottom: -12px;
}

a.anchor {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}

#home {
  top: 0px;
}

.parallax {
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  height: 100vh;
  background-color: #1c320a;
  background-image: url("Images/triliumPoisonIvyMultiplied.jpg");
  background-position: center;
}

.absolute-center {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
margin-left: 0px !important;
margin-right: 0px !important;
left: 0;
right: 0;
}

.border-3 {
  border-width: 3px !important;
}

.home img {
  height: 170px;
}

.home h1 {
  font-size: 3em;
}

.text-grey {
  color: #e9ecef;
}

.purdue {
  color: #98700D;
  font-weight: bold;
}

.skills {
  background-color: #e9ecef;
}

.spacer {
  height: 20vh;
  background-color: #22370e;
  background-image: url("Images/poisonIvyMultiplied.jpg");
  background-position: center;
}

.portfolio .jumbotron .row {
  margin: 0px;
}

.nav-pills .nav-link {
  transition: background-color .5s;
  color: black;
  font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .nav-link:hover {
  color: #fff;
  background-color: #343a40;
}

.portfolio img {
  transition: transform .2s;
}

.portfolio img:hover {
  transform: scale(1.05);
}

.contact h3 {
  display: inline;
}

.contact h3 {
  display: inline;
}

.contact .fa-envelope {
  font-size: 3em;
}

footer {
  background-color: #e9ecef;
}

footer a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

footer u {
  display: block;
}

@-webkit-keyframes draw {
  0% {
    stroke-dashoffset: 360.8721923828125;
  }

  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@-moz-keyframes draw {
  0% {
    stroke-dashoffset: 360.8721923828125;
  }

  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@-ms-keyframes draw {
  0% {
    stroke-dashoffset: 360.8721923828125;
  }

  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@-o-keyframes draw {
  0% {
    stroke-dashoffset: 360.8721923828125;
  }

  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 360.8721923828125;
  }

  80% {
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }

  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
